@charset "UTF-8";
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* header */
.header {
  height: 70px;
  background: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.header-nav a {
  color: #f2f2f2;
  text-decoration: none;
}

/* eyecatch */
#eyecatch {
  position: relative;
  height: 600px;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

#eyecatch > p {
  position: absolute;
  top: 60%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  font-weight: bold;
  margin-left: 15%;
  color: #ccc;
  line-height: 1;
}

#eyecatch .infonews {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 700px;
  height: 70px;
  font-size: 12px !important;
  padding: 10px;
}
.info1 {
  position: relative;
  top: 60%;
  left: 25%;
  width: 500px;
  height: 70px;
  background: white;
  color: #000;
}
.info2 {
  margin-left: 10px;
}

.news {
  position: absolute;
  top: -5%;
  left: 95%;
  background: #000;
  color: #fff;
  text-align: center;
  width: 41px;
  height: 43px;
  padding: 10px;
}

/*eye_box*/
.eye_box {
  position: relative;
  height: 300px;
  width: fit-content;
  border: 1px solid #000;
  background: black;
}
.eye_box h3 {
  color: white;
  padding-right: 150px;
  padding-top: 50px;
  margin-left: 150px;
  margin-bottom: 15px;
  font-size: 20px;
}
.eye_box p {
  color: white;
  position: relative;
  z-index: 3;
  padding-right: 150px;
  margin-left: 150px;
  padding-bottom: 200px;
  text-align: left;
  font-size: 15px;
  text-align: left;
}
.eye_box img {
  position: absolute;
  z-index: 2;
  width: 35%;
  height: 300px;
  left: 65%;
  top: 30px;
}

.alignleft {
  width: 100px;
  height: 100px;
}

.eye_box1 {
  position: absolute;
  top: 55%;
  margin-left: 220px;
  transform: translate(-50%, -50%); /* 基準位置を左上から真ん中にする */
  text-align: left;
  background: #fff;
  color: #000;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
}

/* about */
#about {
  width: fit-content;
  height: 1000px;
  /* height: 1000px; */
  margin: 0 auto 10px;
  background: rgb(133, 130, 130);
}

#about .section-title {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
  text-align: center;
}

/* .about-wrap{
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: space-around;
}

.about-right{
  position: relative;
  top: 50px;
  left: 50%;
}
.about-right img{
  z-index: 2;
  display: block;
  width: 50%;
}
.about-left{
  z-index: 1;
  display: flexbox;
  width: 1000px;
  position: relative;
  top: 50px;
  left: 30%;
  border: 1px solid white;
  background: #fff;
}
.about-left h3{
  font-size: 18px;
  color: #000;
}
.about-left p{
  font-size: 14px;
  color: #000;
}
.rightbox{
  position: relative;
  top: 400px;
  right: 80%;
  background: #fff;
  border: 1px solid #fff;
}

.rightbox img{
  z-index: 2;
  display: block;
  width: 50%;
} */

/* 追加 */

.about-wrap img {
  display: block;
  width: 50%;
}
.about-wrap {
  position: relative;
}
.camera {
  position: relative;
  z-index: 2;
  top: 20%;
  margin-left: auto;
}

.text-wrap-first {
  position: absolute;
  z-index: 3;
  top: 20%;
  right: 30%;
  left: 0%;
  bottom: 0;
  width: 500px;
  height: 150px;
  padding: 80px;
  margin: 0 auto;
  background: #fff;
}
.camera2 {
  position: relative;
  z-index: 2;
  top: 180%;
  margin-right: auto;
  margin-top: 5%;
}
.text-wrap-second {
  position: absolute;
  z-index: 3;
  top: 20%;
  right: 10%;
  left: 10%;
  bottom: 0;
  width: 500px;
  height: 150px;
  padding: 80px;
  margin: 0 auto;
  background: #fff;
}
.line3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}
.line1 {
  margin-bottom: 20px;
  font-size: 15px;
  color: #000;
}
.line2 {
  width: 550px;
  font-size: 15px;
  margin-bottom: 5px;
}

.lecturebox {
  position: relative;
  width: 100px;
  height: 20px;
  top: 20px;
  left: 180px;
  margin-left: 230px;
  border: 1px solid black;
  padding: 10px;
}
/* business */
#business {
  background: white;
  background-size: cover;
}

#business .section-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  padding: 40px 0;
  margin: 0;
}

.business-wrap {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.business-cat {
  width: 45%;
  height: 350px;
  background: url(../img/company.jpeg) no-repeat;
  background-position: center;
  padding: 160px 35px 30px;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.business-cat２ {
  width: 45%;
  height: 350px;
  background: url(../img/recruit.jpg) no-repeat;
  background-position: center;
  padding: 160px 35px 30px;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.business-cat h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.business-cat p {
  color: #fff;
}
.business-cat２ h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #fff;
}

.business-cat２ p {
  color: #fff;
}
.business-cat img {
  width: 100px;
  height: auto;
  margin: 0 auto 10px;
}

/* company */
#company {
  padding: 40px 0 70px 0;
}

#company .company-question {
  display: flex;
  width: 600px;
  height: 100px;
  margin: 30px auto;
  background: #000;
}
#company .section-title {
  color: #fff;
  font-weight: bold;
  font-size: 17px;
  text-align: left;
  padding: 35px 35px 0 30px;
}
#company p {
  position: absolute;
  /*top: 360%;*/
  /*left: 50%;*/
  width: 600px;
  height: 100px;
  color: #ccc;
  font-size: 13px;
  text-align: center;
  margin: 30px auto;
  /*padding: 35px 35px 0 110px;*/
}

/* contact */

#contact {
  height: 600px;
  background: url(../img/contact-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

#contact .contact-wen {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #ccc;
  line-height: 1;
}
.inquiry {
  position: relative;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ccc;
  line-height: 1;
}
.inquiry p {
  text-align: center;
  font-weight: bold;
  padding-bottom: 20px;
  line-height: 1;
}
.inquiry h2 {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 20px;
}
.inform1 {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 20px;
}
.infoｂox {
  position: relative;
  top: 90%;
  left: 45%;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 15px;
  width: 150px;
  height: 10px;
  padding: 15px;
}

/* footer */
.footer {
  background: #000;
  text-align: center;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}

.footer-nav ul {
  display: flex;
}

.footer-nav li {
  margin-right: 35px;
  font-size: 16px;
}

.footer-nav a {
  color: #f2f2f2;
  text-decoration: none;
}
.footer small {
  margin-bottom: 5px;
  color: #ccc;
}
