@charset "UTF-8";
.service-item{
  padding: 20px 0;
  border-top: 1px solid #222 ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-item:last-child{
  border-bottom: 1px solid #222;

}
.service-item-img{
  width: 290px;

}
.service-item-detail{
  width: 750px;
}
.service-item-ttl{
  font-size: 24px;
  font-style: bold;
}
@media screen and (max-width: 768px){
.service-item-img{
  width: 100%;
}
.service-item-detail{
  width: 100%;
}



}